@keyframes arrow-move {
  from {
    translate: 0;
  }
  to {
    translate: 4px;
  }
}

.like-icon__core {
  transition: fill .3s .03s linear;
}

.card__icon-button:hover .like-icon__core {
  fill: var(--like-icon-contour-color);
  transition: fill .3s linear;
}

.card__icon-button:active .like-icon__core {
  fill: var(--like-icon-is-liked-color);
  transition: fill .3s linear;
}

.like-icon__body {
  transition: fill .3s linear;
}

.card__icon-button:hover .like-icon__body {
  fill: var(--like-icon-contour-color);
  transition: fill .3s .05s linear;
}

.card__icon-button:active .like-icon__body {
  fill: var(--like-icon-is-liked-color);
  transition: fill .3s .05s linear;
}

.like-icon.is-liked .like-icon__core {
  fill: var(--like-icon-is-liked-color);
  transition: fill .3s linear;
}

.like-icon.is-liked .like-icon__body {
  fill: var(--like-icon-is-liked-color);
  transition: fill .3s .03s linear;
}

.like-icon__contour {
  transition: fill .1s linear;
}

.like-icon.is-liked .like-icon__contour {
  fill: var(--like-icon-is-liked-color);
  transition: fill .3s .06s linear;
}

.like-icon__heart {
  transform-origin: center;
}

.like-icon.is-liked .like-icon__heart {
  animation: heart-scale .3s .1s ease-in alternate;
}

.like-icon__sparks {
  opacity: 0;
}

.like-icon.is-liked .like-icon__sparks {
  animation: sparks-visible .3s .3s ease-in alternate;
}

@keyframes heart-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes sparks-visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
