/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  position: relative;
  margin: 0 auto;
  padding: 100px 0;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--font-weight-regular, 400), 'slnt' 0;
  color: var(--accent-color);
  background-color: var(--bg-color);
}

.page::after {
  position: absolute;
  content: '';
  inset: 0;
  inline-size: 100%;
  block-size: 100dvb;
  background-image: var(--bg-image);
  background-size: 4px;
  background-position: center;
  z-index: -1;
}

.container {
  margin: 0 auto;
  max-inline-size: 696px;
}

.header {
  padding: 120px 0 25px;
  font-family: var(--accent-font);
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  margin-block-start: 16px;
  margin-block-end: 20px;
}

@media (width <= 375px) {
  .header__title {
    margin-block-start: 0;
  }
}

.subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__subtitle {
  margin: 0 auto 25px;
}

.theme-menu {
  margin: 0 auto;
}

.header__theme-menu {
  max-inline-size: min-content;
}

.theme-menu__item {
  margin-block-end: 14px;
  text-align: left;
}

.theme-menu__item:last-of-type {
  margin-block-end: 0;
}

.theme-menu__button {
  position: relative;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.theme-menu__button:hover {
  opacity: .6;
}

.theme-menu__button:disabled {
  opacity: .6;
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: '▶';
  inset-inline-start: -20px;
  inline-size: 10px;
  block-size: 10px;
}

.main {
  padding: 100px 0 0;
}

.card-list__item {
  margin: 0 0 52px;
}

.card {
  padding-block-end: 25px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.heading {
  font-size: 18px;
  line-height: 1.21;
  font-variation-settings: 'wght' var(--font-weight-bold, 700), 'slnt' 0;
}

.card__heading {
  padding: 3px 10px;
}

.card__image {
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  border-block-start: 2px solid var(--accent-color);
  border-block-end: 2px solid var(--accent-color);
}

.card__text {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  padding: 25px;
  font-size: 18px;
  line-height: 1.17;
}

.button {
  font: 400 14px/.9 var(--accent-font);
  border: 2px solid var(--accent-color);
  background-color: transparent;
  white-space: nowrap;
  cursor: pointer;
}

.card__like-button {
  margin-inline-start: calc(100% - 130px - 25px);
  padding: 12px 37px;
  max-inline-size: 130px;
  min-block-size: 38px;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 0 34px;
}

.button-save {
  position: relative;
  margin: 0 auto;
  padding: 18px 21px 18px 48px;
  max-inline-size: max-content;
  min-block-size: 51px;
}

.button-save::before {
  position: absolute;
  content: '';
  inset-block-start: 14px;
  inset-inline-start: 16px;
  inline-size: 22px;
  block-size: 22px;
  background-image: url(../svg/floppy.svg);
  background-position: center;
  background-repeat: no-repeat;
}

@media (width <= 410px) {
  .button-save {
    padding: 40px 18px 15px;
    min-block-size: 80px;
  }

  .button-save::before {
    inset-block-start: 14px;
    inset-inline-start: calc(100% / 2 - 11px);
  }
}
