.page {
  position: relative;
  margin: 0 auto;
  padding: 100px 0;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--font-weight-regular, 400);
  color: var(--accent-color);
  background-color: var(--bg-color);
}

.page::after {
  position: absolute;
  content: '';
  inset: 0;
  inline-size: 100%;
  block-size: 100dvb;
  background-image: var(--bg-image);
  background-size: 4px;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

.container {
  margin: 0 auto;
  max-inline-size: 696px;
}

.header {
  padding: 120px 0 25px;
  font-family: var(--accent-font);
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.logo {
  display: block;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__logo {
  margin-block-start: 16px;
  margin-block-end: 20px;
}

@media (width <= 375px) {
  .header__logo {
    margin-block-start: 0;
  }
}

.title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__title {
  margin: 0 auto 25px;
}

.theme-menu {
  margin: 0 auto;
}

.header__theme-menu {
  max-inline-size: min-content;
}

.theme-menu__list {
  margin-inline-start: 10px;
}

.theme-menu__item {
  margin-block-end: 14px;
  text-align: left;
}

.theme-menu__item:last-of-type {
  margin-block-end: 0;
}

.theme-menu__button {
  position: relative;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  transition: opacity .3s ease;
  cursor: pointer;
}

.theme-menu__button:hover {
  opacity: .6;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: .6;
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: '▶';
  inset-inline-start: -22px;
  inset-block-start: 1px;
  inline-size: 14px;
  block-size: 14px;
  animation: arrow-move .5s ease-in-out infinite alternate;
}

@keyframes arrow-move {
  from {
    translate: 0;
  }
  to {
    translate: 4px;
  }
}

.theme-menu__button:focus {
  outline: none;
  opacity: .6;
}

.theme-menu__button::after {
  position: absolute;
  content: '';
  inset-block-start: 17px;
  inset-inline-start: 0;
  margin: 0;
  inline-size: 100%;
  block-size: 2px;
  background-color: var(--accent-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .3s ease;
}

.theme-menu__button:focus-visible.theme-menu__button::after {
  transform: scaleX(1);
}

.main {
  padding: 100px 0 0;
}

.card-list__item {
  margin: 0 0 52px;
}

.card {
  padding-block-end: 25px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.heading {
  font-size: 18px;
  line-height: 1.21;
  font-variation-settings: 'wght' var(--font-weight-bold, 700);
}

.card__heading {
  padding: 3px 10px;
}

.card__image {
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  border-block-start: 2px solid var(--accent-color);
  border-block-end: 2px solid var(--accent-color);
}

.card__text {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  margin: 0;
  padding: 25px;
  font-size: 18px;
  line-height: 1.17;
}

.card__icon-button-container {
  display: flex;
  column-gap: 6px;
  justify-content: end;
  padding: 0 25px;
}

.button {
  padding: 0;
  border: 2px solid var(--accent-color);
  background-color: transparent;
  white-space: nowrap;
  box-shadow: 2px 2px transparent;
  cursor: pointer;
}

.button::after {
  position: absolute;
  content: '';
  inset-inline-start: -1px;
  inset-block-start: 0;
  inline-size: 101%;
  block-size: 105%;
  background-color: var(--accent-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .5s ease-in-out;
}

.button:hover.button::after {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
  transition: box-shadow .3s ease;
}

.button__text {
  position: relative;
  font: 400 14px/.9 var(--accent-font);
  color: var(--accent-color);
  transition: color 1s ease;
  z-index: 1;
}

.button:hover .button__text {
  color: var(--accent-color-hover);
  transition: color 1s ease;
}

.button:hover .floppy-icon {
  color: var(--accent-color-hover);
  transition: color 1s ease;
}

.card__icon-button {
  align-self: center;
  padding: 0;
  inline-size: 39px;
  block-size: 36px;
  background-color: transparent;
  border: none;
  outline: 2px solid transparent;
  outline-offset: -1px;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  transition: outline .3s ease;
}

.like-icon__core {
  transition: fill .3s .03s linear;
}

.card__icon-button:hover .like-icon__core {
  fill: var(--like-icon-contour-color);
  transition: fill .3s linear;
}

.card__icon-button:active .like-icon__core {
  fill: var(--like-icon-is-liked-color);
  transition: fill .3s linear;
}

.like-icon__body {
  transition: fill .3s linear;
}

.card__icon-button:hover .like-icon__body {
  fill: var(--like-icon-contour-color);
  transition: fill .3s .05s linear;
}

.card__icon-button:active .like-icon__body {
  fill: var(--like-icon-is-liked-color);
  transition: fill .3s .05s linear;
}

.like-icon.is-liked .like-icon__core {
  fill: var(--like-icon-is-liked-color);
  transition: fill .3s linear;
}

.like-icon.is-liked .like-icon__body {
  fill: var(--like-icon-is-liked-color);
  transition: fill .3s .03s linear;
}

.like-icon.is-liked .like-icon__contour {
  fill: var(--like-icon-is-liked-color);
  transition: fill .3s .06s linear;
}

.like-icon__heart {
  transform-origin: center;
}

.like-icon.is-liked .like-icon__heart {
  animation: heart-scale .3s .1s ease-in;
}

@keyframes heart-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

.like-icon__sparks {
  opacity: 0;
}

.like-icon.is-liked .like-icon__sparks {
  animation: sparks-visible .3s .3s ease-in;
}

@keyframes sparks-visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card__like-button {
  position: relative;
  padding: 11px 0 8px;
  min-inline-size: 130px;
  line-height: .9;
}

.floppy-icon {
  position: relative;
  inline-size: 21px;
  block-size: 21px;
  color: var(--accent-color);
  transition: color 1s ease;
  z-index: 1;
}

.button-save {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  padding: 13px 18px;
}

@media (width <= 410px) {
  .button-save {
    flex-direction: column;
  }

  .floppy-icon {
    inline-size: 28px;
    block-size: 28px;
  }
}
