.page.theme-light {
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --accent-color: #000;
  --bg-color: #fff;
  --bg-image: url(../svg/pattern-light.svg);
  --like-icon-contour-color: #000;
  --accent-color-hover: #fff;
}

@media (prefers-color-scheme: light) {
  .page {
    --font-weight-bold: 700;
    --font-weight-regular: 400;
    --accent-color: #000;
    --bg-color: #fff;
    --bg-image: url(../svg/pattern-light.svg);
    --like-icon-contour-color: #000;
    --accent-color-hover: #fff;
  }
}

.page.theme-dark {
  --font-weight-bold: 785;
  --font-weight-regular: 465;
  --accent-color: #00cc14;
  --bg-color: #000;
  --bg-image: url(../svg/pattern-dark.svg);
  --like-icon-contour-color: #00cc14;
  --accent-color-hover: #000;
}

@media (prefers-color-scheme: dark) {
  .page {
    --font-weight-bold: 785;
    --font-weight-regular: 465;
    --accent-color: #00cc14;
    --bg-color: #000;
    --bg-image: url(../svg/pattern-dark.svg);
    --like-icon-contour-color: #00cc14;
    --accent-color-hover: #000;
  }
}