.page {
  --main-font: 'Inter', 'Arial', 'sans-serif';
  --accent-font: 'PressStart2P', 'Arial', 'sans-serif';
  --like-icon-is-liked-color: #ff0000;
  --like-icon-core-color: transparent;
  --like-icon-body-color: transparent;
  --like-icon-sparks-color: #ff0000;
}

@supports (font-variation-settings: normal) {
  .page {
    --main-font: 'Inter-Variable', 'Arial', 'sans-serif';
  }
}
